.font-color-white {
  color: white;
}
@media only screen and (max-width: 600px) {
  .headTable-m {
    width: 80px;
  }
  .headTable-L {
    width: 135px;
  }
  .headTable-XL {
    width: 310px;
  }
}
