body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  background: #1976D2;
}

* {
  box-sizing: border-box;
}
h2{
  color: white;
}
.item{
  background-color: rgba(255,255,255,0.1);
  border: 2px solid white;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  color: white;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 285px;
  height: 350px;
  overflow: hidden;
}
.tallas{
  background-color: #E0E0E0;
  border: 2px solid #E0E0E0;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  width: 34px;
  height: 34px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tallas a{
  color: black;
  text-align: center;
}
.col-lg-4{
  margin: 10px 0px 10px 0px;
}
.item-img:hover{
filter: blur(5px);
}
.item-img img{
  width: 290px;
  height: 185px;
}


.detalle{
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-top: 2px;
  color:#212529;
  font-family: 'Open Sans', 'Arial';
  height: 162px;
}
.detalle h5{
  font-size: 1.4em;
}
.detalle strong{
  font-size: 13pt;
  font-weight: 700 !important;
}
@media only screen and (max-width: 600px) {
  .col-lg-4{
    margin: 7px 0px 7px 30px;
  }
}
